.text-primary {
  color: #ff9700 !important;
}

body {
  font-family: 'Outfit' !important;
  scroll-behavior: smooth;
  animation: in-circle-swoop;
  
}

header {
  z-index: 99;
  background:#2125297c;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(6.7px);
}

ul li .nav-link {

  position: relative;

}

ul li .nav-link::before {
  content: '';
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 0;
  height: 1.5px;
  background-color: white;
  transition: 0.5s;
}

ul li .nav-link:hover::before {
  width: 100%;
  left: 0;
}

::-webkit-scrollbar:hover {
  width: 5px;  
}
::-webkit-scrollbar {
  width: 3px;
  -webkit-transition:  1s;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 43px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.3)!important;
}

a {
  display: inline-block !important;
}
section.home{
  animation: none;
}
section{
  animation: appear cubic-bezier(0.04, 0.5, 0, 1.01);
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}
section.about{
  animation: appearAbout linear;
  animation-timeline: view();
  animation-range: entry 0% cover 60%;
}
.edu-content, .achieve-img , .project-img ,.blog-img{
  animation: appearToTop cubic-bezier(0.04, 0.5, 0, 1.01);
  animation-timeline: view();
  animation-delay: 1s;
  animation-range: entry 0% cover 80%;
}
.progress{
  animation: appearProgress cubic-bezier(0.04, 0.5, 0, 1.01);
  animation-timeline: view();
  animation-delay:1s;
  animation-range: entry 0% cover 80%;
}
@keyframes appearToTop{
  from{
    transform: translateY(500px);
  }
  to{
    transform: translate(0);
  }
  
}
@keyframes appearProgress {
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}
@keyframes appearAbout {
  0%{
    opacity: 0;
  }
  40%{
    opacity: 1;
  }
}
@keyframes appear {
  0%{
    opacity: 0;
    scale: 0.6;
  }
  40%{
    opacity: 1;
    scale: 1;
  }
}
/* banner start */
.bannerTitle {
  /* font-size: 60px; */
  font-weight: 700;
  color: transparent;
  padding: 100px 0 50px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0d6efd;

}

.bannerTitle .lead {
  font-size: 0.45em;
  -webkit-text-stroke-width: 0;
}


.Button {
  font-weight: 700;
  /* border: 0 solid; */
  border-radius: 99rem;
  color: #000;
  background-color: white;
  border-width: 2px;
  padding: 0.8rem 3rem;
  transition: 0.5s cubic-bezier(0.04, 0.5, 0, 1.01);
}

.Button:hover {
  /* background-color: #fff; */
  color: #000!important;
  padding: 0.8rem 3.5rem;
}

.bannerImage {
  right: 0;
  top: 50px;
}

.bannerImage img {
  background: #2125294b;
  position: relative;
}

.cir {
  left: 0;
  top: 0;
  position: absolute;
  border: 1px solid white;
  border-left: 0;
  border-right: 0;
  border-radius: 50%;
  animation: circular 2s infinite;
  width: 100%;
  height: 100%;
}

@keyframes circular {
  0% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }

}

/* banner end */
/* about start */
.about {
  position: relative;
}

.typoText {
  position: absolute;
  right: -120px;
  top: 250px;
  font-size: 120px;
  font-weight: 700;
  transform: rotate(90deg);
  opacity: 0.2;
  color: black;
}

/* .about p.heading:after {
  background-color: #000;
} */

p.heading {
  position: relative;
}

p.heading:after {
  position: absolute;
  content: '';
  box-sizing: border-box;
  width: 100%;
  height: 1px;
  background-color: #fff;
  bottom: 0;
  left: -10px;
}

.about span.info {
  padding-right: 50px;
}

.about i {
  padding-right: 10px;
}

/* about end */
/* education start */


.edu-content {
  margin: 20px 0 20px 12.5px;
  justify-content: center;
}

.achieve-img img {
  margin: 50px auto;
}

/* education end */
/* project start */
.project-img img,
.achieve-img img,
.blog-img img {
  transition: 1s cubic-bezier(0.04, 0.89, 0, 1.01);
}

.project-img img:hover,
.achieve-img img:hover,
.blog-img img:hover {
  transform: scale(1.05);
}

/* project end */