@import "tailwindcss";
@import 'locomotive-scroll/dist/locomotive-scroll.css';


.bricolage {
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 600; */
    font-style: normal;
}

*::-webkit-scrollbar {
    width: 0;
    height: 0;
}

* {
    scroll-behavior: smooth;
}

.jet {
    font-family: 'Jetbrains Mono', monospace;
}

.poppins {
    font-family: 'Poppins', serif;
}

#terminalWindow {
    font-family: SFMono, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}


/* locomotive */
html.lenis,
html.lenis body {
    height: auto
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
    overflow: clip
}

.lenis [data-lenis-prevent-touch],
.lenis [data-lenis-prevent-wheel],
.lenis [data-lenis-prevent] {
    overscroll-behavior: contain
}

.lenis.lenis-smooth iframe {
    pointer-events: none
}

.lenis.lenis-autoToggle {
    transition-behavior: allow-discrete;
    transition-duration: 1ms;
    transition-property: overflow
}