@import "tailwindcss";
 *::-webkit-scrollbar{
    width: 0;
    height: 0;
 }

.jet{
    font-family: 'Jetbrains Mono', monospace;
}
.poppins{
    font-family: 'Poppins', serif;
}
#terminalWindow{
    font-family: SFMono ,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}